.Card{
    width:300px;
    height:100px;
    color:#800080;
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin:15px 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
    /* backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px ); */
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.Card svg{
    width:30px;
    height:30px;
}
.Card p{
    font-weight:600;
    font-size:1.2em;
}
@media screen and (max-width:780px) {
    .Card p{
        font-size:1em;
    }
}