.NoticesCard{
    color:#222;
    padding: 10px;
    width:350px;
    height:250px;
    margin:20px 10px;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.NoticesTitle{
    display:flex;
    justify-content:space-between;
    margin:10px 0;
}
.NoticesTitle div h4{
    color:#800080;
    margin-bottom: 10px;
}
.NoticesTitle img{
    width: 150px;
    height:100px;    
}
.NoticesRodapé{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.NoticesRodapé img{
    width:35px;
    height:35px; 
}