.NoticesCard{
    background-color:transparent;
    color:#222;
    border:2px solid #800080;
    box-shadow: 3px 3px 3px #999;
    padding: 10px;
    width:400px;
    height:250px;
    margin:20px 0;
}
.NoticesTitle{
    display:flex;
    justify-content:space-between;
    margin:20px 0;
}
.NoticesTitle div h4{
    color:#800080;
    margin-bottom: 10px;
}
.NoticesTitle img{
    width: 150px;
    height:100px;    
}
.NoticesRodapé{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.NoticesRodapé img{
    width:35px;
    height:35px; 
}