.Card{
    min-width:300px;
    height:150px;
    border:1px solid purple;
    color:#fff;
    background-color:rgb(113, 36, 175);
    display:flex;
    align-items: center;
    flex-direction:column;
    margin:15px 10px;
}
.Card div{
   display:flex;
   padding:10px;
   margin-bottom:30px;
}
.Card div svg{
    width:35px;
    height:35px;
    padding-right:5px;
}
.Card p{
    font-weight:500;
    font-size:1.5em;
}