.navigation_Conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    z-index: 9999;
}
.routes, .isOpen{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.menu{
    display: none;
}
.menu button{
    background-color:transparent;
    font-size: 0.9em;
    transition: 5s ease;
}
.menu button svg{
    position: relative;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index:9999;
}
.login{
    padding: 3px 7px;
    background-color: #800080;
    text-align: center;
    color: #fff;
    border:none;
}
.login:hover{
    opacity: 0.5;
}
.login button{
    color: #fff;
    letter-spacing: 0.2em;
    background-color: transparent;
}
@media screen and (max-width:944px) {
    .navigation_Conteiner{
        width: auto;
    }
    .menu{
        display:block;
    }
    .routes{
        display: none;
    }
    .isOpen{
        display:flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;
        position: absolute;
        top: 80px;
        right: 0;
        height: 300px;
        width: 100%;
        z-index:99;
        background-color: #fff;
    }
    .isOpen a{
        border-top:1px solid #999;
        width: 100%;
        padding:15px;
    }
    .isOpen a:nth-of-type(3){
        border-bottom:1px solid #999;        
    }
    .isOpen .login a{
        border: none;
    }
    .login{
        width: 90%;
        align-self:center;
        margin-top: 10%;
    }
}

@media screen and (max-width: 780px){
    /* .navigation_Conteiner{
        width: auto;
    }
    .menu{
        display:block;
    }
    .routes{
        display: none;
    }
    .isOpen{
        display:flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;
        position: absolute;
        top: 80px;
        right: 0;
        height: 300px;
        width: 100%;
        z-index:99;
        background-color: #fff;
    }
    .isOpen a{
        border-top:1px solid #999;
        width: 100%;
        padding:15px;
    }
    .isOpen a:nth-of-type(3){
        border-bottom:1px solid #999;        
    }
    .isOpen .login a{
        border: none;
    }
    .login{
        width: 90%;
        align-self:center;
        margin-top: 10%;
    } */
}