h1{
    margin-right: 20px;
}
.newsTitle_Conteiner{
    display:flex;
    flex-wrap: wrap;
    margin: 4em auto 0 auto;
    width: 100%;
}
.news_Conteiner{
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
.select_seachTerm{
    width: 300px;
    background-color: #e6e4e4;
    border-radius: 5px;;
    color:#222;
    font-weight:600;
    border:none;
}