.coin_heading_container{
    margin: 150px 1em 1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.coin_heading_container h1{
    color:purple;
}  
.period_buttons div{
    width: 100%;
}
.period_buttons div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
}
.period_buttons button{
    border: 1px solid #252525;
    width: 60px;
}
.period_buttons button:hover{
    background-color: #800080;
    color: #f1f1f1;
}
.Stats_Conteiner{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card_Stats{
    margin: 20px 0;    
}
.card_Details_Stats{
    margin: 1.5em auto;
}
.coin_stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    max-width: 400px;
    margin: 10px 0 ;
    padding: 20px;    
}
.coin_stats p{
    font-weight: 600;
}
.coin_stats_heading{
    display: flex;
    width: auto;
}
.coin_stats_heading svg{
    margin-right:10px;
}
.coin_desc{
    margin: 0 1em;
}
.coin_desc h3{
    margin: 0 1em;
}
.coin_desc p{
    margin: 20px 1em;
    color:#222;
}
.link_name{
    font-size: 2em;
}
.coin_desc_link{
    color:#fff;
    margin: 2em auto;
    flex-wrap: wrap;
    padding: 20px;
}
.coin_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.coin_link:hover{
    opacity: 0.5;
}
.coin_link a{
    color:#f1f1f1;
    cursor:pointer;
}
@media screen and (max-width:780px) {
    .coin_heading_container h1{
        font-size: 25px;
    }
    .coin_heading_container p{
        font-size: 13px;
    }
    
    .period_buttons button{
        width: 40px;
    }

}