.navBar{
    position: fixed;
    top:0;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    margin:0 auto;
    width:100vw;   
    height: 80px;
    background-color: #fff;
    z-index: 99999;
    box-shadow: 5px 1px 8px #999;
}
.Logo, .routes, .login{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo img{
    width: 40px;
}
a{
    padding: 0 0.5em;
    color:#222;
}
.login a{
    display: inline-block;
    padding: 0.3em 0.7em;
    border: 1px solid #222;
    background-color: #800080;
    color:#fff;
    margin-left: 1em;
}
