.Currencies_Conteiner{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 150px auto 1em auto;
    padding: 10px;;
    width:100%;
}
.coins_conteiner{
    width:100%;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:center;
}
.Currencies_Conteiner h1{
    margin-bottom:1em;
}
@media screen and (max-width:780px) {
    .Currencies_Conteiner h1{
        font-size: 20px;
    }
}