.coins-conteiner{
    width:100%;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:center;
}
.Currencies-Conteiner{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    margin: 2em auto 0 auto;

}
.Currencies-Conteiner h1{
    margin-bottom:1em;
}
