.header_infos{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    color: #fff;
    width: 100vw;
    height: 800px;
}
.header_infos_header{
    width: 40vw;
    margin-left: 50px;
}
.header_infos_header h1{
    font-size: 2em;
    margin-bottom: 10px;
}
.image_home{
    width: 60vw;
}
.header_infos_buttons{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header_infos_buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.header_infos_buttons button{
    background-color: #800080;
}
.header_infos_buttons button:hover{
    opacity: 0.7;
}
.header_infos_buttons svg{
    background-color: #fff;
    border-radius: 50%;
}
.header_infos_buttons a span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #222;
    margin: 10px 0;
}

.image_home img{
    width: 100%;
    height: 100%;
}
.sliderConteiner{
    height: 160px;
    margin: 4em 0;
    width: 100%;
    border-top:1px solid purple;
    border-bottom:1px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    padding:20px 0;
    font-size:1.5em;
}
.statistics_conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    flex-wrap: wrap;
    width:100vw;
    height: auto;
    padding: 4em 0;
    background-color: #999;
}
.statistics_conteiner h2{
    color:#fff;
    font-size: 2em;
}
.statistics_items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header_sections{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: 3em 0 2em 0;    
}
.header_sections_link{
    width:80vw;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

@media screen and (max-width:780px) {

    .header_sections_link{
        width:90%;
    }
    .header_sections_link h1{
        font-size: 20px;
    }

    .header_infos{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        height: 400px;
    }

    .header_infos_header h1{
        font-size: 20px;
    }
}